table {
    border: 1px solid black;
    border-collapse: collapse;
    position: absolute;
    top: 50px;
    left: 50px;
}
th {
    border: 1px solid black;
    text-align: center;
    width: 150px;
    background-color:cadetblue ;
}
td {
    border: 1px solid black;
    width: 150px;
}
.models {
    text-align: center;
}